:root {
    --mainAccent: #ff4081;
    --lightAccent: #f55a8e;
    --mainWhite: #f3f3f3;
    --mainYellow: #ffa400;
    --mainDark: #232528;
}

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
    max-width: 100vw !important;
    margin: 0 auto !important;
    overflow-x: hidden !important;
    height: auto !important;
}

.text-title {
    font-family: "Permanent-Marker", cursive;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.text-accent {
    color: var(--mainAccent);
}

.text-bright {
    color: var(--lightAccent);
}

.btn-black {
    background: transparent;
    font-size: 0.8em !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    border: 0.1em solid var(--mainDark) !important;
}

.btn-black:hover {
    color: var(--mainWhite) !important;
    background: var(--mainDark) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2em;
    color: var(--mainYellow);
}